<div *ngIf="shows">
    <div class="d-flex justify-content-between">
        <div class="back_button" (click)="onBack()">
            <i class="bi bi-arrow-left back_btn"></i>
        </div>
        <!-- <app-modal (employeeAdded)="getEmployees()"></app-modal> -->

        <div class="addEmp">
            <button class="emp" (click)="openAddEmpModal()">Add Employee</button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Employee</th>
                            <th scope="col">Technology</th>
                            <th scope="col">Experience</th>
                            <th scope="col">Notice Period</th>
                            <th scope="col">Verified</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="mergedData.length > 0">
                            <tr *ngFor="let item of mergedData">
                                <td>
                                    <p style="color: red; cursor: pointer;font-size: 25px;" (click)="openModal(item)">{{
                                        item.employee }}</p>
                                </td>
                                <td>{{ item.technology }}</td>
                                <td>{{ item.experience }}</td>
                                <td>{{ item.noticePeriod }}</td>
                                <td>{{ item.verified }}</td>
                                <td>
                                    <button class="btn btn-warning m-2" (click)="openEditEmpModal(item)">Edit</button>
                                    <!-- <button class="btn btn-warning m-2" (click)="onEdit(item)"><app-modal></app-modal></button> -->

                                    <button class="btn btn-danger m-2" (click)="onDelete(item.id)">Delete</button>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container>
                            <tr *ngIf="mergedData.length === 0">
                                <td colspan="7">No employees found for the selected technology.</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- <app-add-employee-modal></app-add-employee-modal> -->
</div>