<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Employee</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div>
        <form [formGroup]="addEditForm" (ngSubmit)="OnAddEditSubmit()">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label>Name :</label><br>
                            <input type="text" class="form-control" name="employee" formControlName="employee">
                        </div>

                        <div *ngIf="addEditForm.get('employee').invalid && addEditForm.get('employee').touched ">
                            <small *ngIf="addEditForm.get('employee').errors?.['required']">Employee Name is a required
                                field</small>
                            <small *ngIf="addEditForm.get('employee').errors?.['maxLength']">Employee Name should have
                                max of 10 characters</small>
                            <small *ngIf="addEditForm.get('employee').errors?.['minLength']">Employee Name should have
                                min of 4 characters</small>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label>Mobile Number :</label><br>
                            <input type="tel" class="form-control" name="mobileNumber" formControlName="mobileNumber">
                        </div>

                        <div
                            *ngIf="addEditForm.get('mobileNumber').invalid && addEditForm.get('mobileNumber').touched ">
                            <small *ngIf="addEditForm.get('mobileNumber').errors?.['required']">Mobile Number is a
                                required field</small>
                            <small *ngIf="addEditForm.get('mobileNumber').errors?.['pattern']">Mobile Number must
                                contain 10 digits</small>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="gender">
                            <label>Gender</label><br>
                            <input type="radio" value="female" formControlName="gender">
                            <label>Female</label>
                            <input type="radio" value="male" formControlName="gender">
                            <label>Male</label>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label>Company Name :</label><br>
                            <input type="text" class="form-control" name="company" formControlName="company">
                        </div>

                        <div *ngIf="addEditForm.get('company').invalid && addEditForm.get('company').touched ">
                            <small *ngIf="addEditForm.get('company').errors?.['required']">Company is a required
                                field</small>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label>Project Name :</label><br>
                            <input type="text" class="form-control" name="projectName" formControlName="projectName">
                        </div>

                        <div *ngIf="addEditForm.get('projectName').invalid && addEditForm.get('projectName').touched ">
                            <small *ngIf="addEditForm.get('projectName').errors?.['required']">Project Name is a
                                required
                                field</small>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label>Project Description :</label><br>
                            <input type="text" class="form-control" name="projectDescription"
                                formControlName="projectDescription">
                        </div>

                        <div
                            *ngIf="addEditForm.get('projectDescription').invalid && addEditForm.get('projectDescription').touched ">
                            <small *ngIf="addEditForm.get('projectDescription').errors?.['required']">Project
                                Description is a required
                                field</small>
                        </div>
                    </div>
                    <div class="col-lg-6" *ngIf="!employee">
                        <label>Category :</label>
                        <input type="text" value="{{addEditForm.get('category').value}}" disabled class="form-control">
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label>Technologies :</label><br>
                            <select name="technology" class="form-select" formControlName="technology" multiple>
                                <option *ngFor="let t of technologies" [value]="t">{{t}}</option>
                                <!-- <option value="Angular">Angular</option>
                                <option value="React">React</option>
                                <option value="Java">Java</option>
                                <option value="Dotnet">Dotnet</option> -->
                            </select>
                        </div>

                        <div *ngIf="addEditForm.get('technology').invalid && addEditForm.get('technology').touched ">
                            <small *ngIf="addEditForm.get('technology').errors?.['required']">Technology is a required
                                field</small>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label>Experience :</label><br>
                            <input type="number" class="form-control" name="experience" formControlName="experience">
                        </div>

                        <div *ngIf="addEditForm.get('experience').invalid && addEditForm.get('experience').touched ">
                            <small *ngIf="addEditForm.get('experience').errors?.['required']">Experience is a required
                                field</small>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label>Notice Period :</label><br>
                            <select name="noticePeriod" class="form-select" formControlName="noticePeriod">
                                <option value="15">15 days</option>
                                <option value="30">30 days</option>
                                <option value="45">45 days </option>
                                <option value="15">60 days</option>
                                <option value="90">90 days</option>
                            </select>
                        </div>

                        <div
                            *ngIf="addEditForm.get('noticePeriod').invalid && addEditForm.get('noticePeriod').touched ">
                            <small *ngIf="addEditForm.get('noticePeriod').errors?.['required']">Notice Period is a
                                required
                                field</small>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6">
                        <div class="mb-3">
                            <label>Verified :</label><br>
                            <select name="verified" class="form-control" formControlName="verified">
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                    </div> -->
                    <div *ngIf="addEditForm.get('verified').invalid && addEditForm.get('verified').touched ">
                        <small *ngIf="addEditForm.get('verified').errors?.['verified']">Verified is a required
                            field</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 submitEmp">
                <button type="submit" value="submit" class="btn-submit"
                    [ngClass]="addEditForm.valid ? 'btn-enable' : 'btn-disable'" *ngIf='employee'
                    (click)="activeModal.dismiss('Cross click')" [disabled]="!addEditForm.valid">
                    Update</button>
                <button type="submit" value="submit" class="btn-submit"
                    [ngClass]="addEditForm.valid ? 'btn-enable' : 'btn-disable'" *ngIf='!employee'
                    (click)="activeModal.dismiss('Cross click')" [disabled]="!addEditForm.valid">Submit</button>
                <button type="button" class="btn-submit" (click)="activeModal.dismiss('Cross click')">Cancel</button>
            </div>
        </form>
    </div>
</div>


<!-- <form (ngSubmit)="onSubmitForm()" #employeeForm="ngForm">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6"></div>
                </div>
            </div>
            <div>
                <label>Name :</label>
                <input type="text" placeholder="Enter Employee Name" name="EmployeeName" ngModel>
            </div><br>
            <div>
                <label>Mobile Number :</label>
                <input type="tel" placeholder="Enter Employee Mobile Number" name="MobileNumber" ngModel>
            </div><br>
            <div>
                <label>Company Name :</label>
                <input type="text" placeholder="Enter Previous Company Name" name="CompanyName" ngModel>
            </div><br>
            <div>
                <label>Project Name :</label>
                <input type="text" placeholder="Enter Project Name" name="ProjectName" ngModel>
            </div><br>
            <div>
                <label>Project Description :</label>
                <input type="text" placeholder="Enter Project Description " name="ProjectDescription" ngModel>
            </div><br>
            <div>
                <label>Technologies :</label>
                <select name="Technologies" ngModel>
                    <option>Angular</option>
                    <option>React</option>
                    <option>Java</option>
                    <option>Other</option>
                </select>
            </div><br>
            <div>
                <label>Experience :</label>
                <input type="number" placeholder="Enter Experience" name="Experience" ngModel>
            </div><br>
            <div>
                <label>Notice Period :</label>
                <select name="NoticePeriod" ngModel>
                    <option>30 </option>
                    <option>60 </option>
                    <option>90 </option>
                </select>
            </div><br>
            <div>
                <label>Verified :</label>
                <select name="Verified" ngModel>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div><br>
            <button type="submit" value="submit">Submit</button>
        </form> -->