<!-- <ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	 <div class="modal-body">
    <p><strong>Employee:</strong> {{ employee.employee }}</p>
    <p><strong>Technology:</strong> {{ employee.technology }}</p>
    <p><strong>Experience:</strong> {{ employee.experience }}</p>
    <p><strong>Notice Period:</strong> {{ employee.noticePeriod }}</p>
    <p><strong>Verified:</strong> {{ employee.verified }}</p>
  </div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="c('Save click')">Save</button>
	</div>
</ng-template> -->

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->


<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Employee Details</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-6"><p><strong>Employee:</strong></p></div>
    <div class="col-lg-6">{{ employees?.employee }}</div>
    <div class="col-lg-6"><p><strong>Mobile Number:</strong></p></div>
    <div class="col-lg-6">{{ employees?.mobileNumber }}</div>
    <div class="col-lg-6"><p><strong>Technology:</strong></p></div>
    <div class="col-lg-6">{{ employees?.technology }}</div>
    <div class="col-lg-6"><p><strong>Company:</strong></p></div>
    <div class="col-lg-6">{{ employees?.company }}</div>
    <div class="col-lg-6"><p><strong>Project:</strong></p></div>
    <div class="col-lg-6">{{ employees?.projectName }}</div>
    <div class="col-lg-6"><p><strong>Project Description:</strong></p></div>
    <div class="col-lg-6">{{ employees?.projectDescription }}</div>
    <div class="col-lg-6"><p><strong>Experience:</strong></p></div>
    <div class="col-lg-6">{{ employees?.experience }}</div>
    <div class="col-lg-6"><p><strong>Notice Period:</strong></p></div>
    <div class="col-lg-6">{{ employees?.noticePeriod }}</div>
  </div>






  <!-- <p><strong>Employee:</strong> {{ employees?.employee }}</p>
  <p><strong>Mobile Number:</strong> {{ employees?.mobileNumber }}</p>
  <p><strong>Technology:</strong> {{ employees?.technology }}</p>
  <p><strong>Company:</strong> {{ employees?.company }}</p>
  <p><strong>Project:</strong> {{ employees?.projectName }}</p>
  <p><strong>Project Description:</strong> {{ employees?.projectDescription }}</p>
  <p><strong>Experience:</strong> {{ employees?.experience }}</p>
  <p><strong>Notice Period:</strong> {{ employees?.noticePeriod }}</p> -->
</div>